In [32]:
import pandas as pd
import numpy as np

In [33]:
csvpath=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t',index_col='order_id')

In [21]:
csvpath.head(7)

,quantity,item_name,choice_description,item_price
order_id,,,,
1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,Izze,[Clementine],$3.39
1,1,Nantucket Nectar,[Apple],$3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
3,1,Side of Chips,NaN,$1.69

In [7]:
csvpath.shape[0]

4622

In [9]:
csvpath.info(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [11]:
csvpath.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [13]:
csvpath.index

RangeIndex(start=0, stop=4622, step=1)

In [18]:
csvpath.order_id.dtype

dtype('int64')

In [22]:
rev=(csvpath['quantity'] * csvpath['item_price']).sum()

In [44]:


csvpath.item_price.sort_values()

order_id
113     $1.09
730     $1.09
424     $1.09
1201    $1.09
1201    $1.09
188     $1.09
47      $1.09
190     $1.09
87      $1.09
1604    $1.09
89      $1.09
393     $1.09
1093    $1.09
392     $1.09
1562    $1.09
889     $1.09
1210    $1.09
388     $1.09
38      $1.09
1475    $1.09
1436    $1.09
496     $1.09
1101    $1.09
202     $1.09
138     $1.09
138     $1.09
567     $1.09
1025    $1.09
338     $1.09
1098    $1.09
         ...
1622    $9.25
675     $9.25
676     $9.25
681     $9.25
1618    $9.25
1617    $9.25
685     $9.25
1616    $9.25
1615    $9.25
839     $9.25
818     $9.25
691     $9.25
661     $9.25
1346    $9.39
1042    $9.39
1243    $9.39
1235    $9.39
756     $9.39
738     $9.39
1818    $9.39
1762    $9.39
1615    $9.39
250     $9.39
576     $9.39
576     $9.39
1807    $9.39
1752    $9.39
1032    $9.39
1693    $9.39
1751    $9.39
Name: item_price, Length: 4622, dtype: object

In [43]:
csvpath.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4622 entries, 1 to 1834
Data columns (total 4 columns):
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(1), object(3)
memory usage: 180.5+ KB